* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* /////////////////////////////HEAD////////////////////////////////////// */
.head {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    background-color: black;
}

.navigation {
    display: none;
}

/* .head .vdo_cont {
    width: 100%;
    height: 400px;
    z-index: -100;
    overflow: hidden;
    position: absolute;
    top: -340px;
    left: 0;
} */

.nav-colored {
    background-color: #5f5fef;
    transition: 0.5s;
}
/* .nav-transparent {
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
} */

.head .vdo {
    width: 100%;
}

.head .logo {
    font-size: 33px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.head ul {
    display: flex;
    list-style: none;
    line-height: 40px;
    font-size: 21px;
}

.head ul li a {
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* /////////////////////////////HOME////////////////////////////////////// */
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 130px 55px;
    background-color: rgb(0, 0, 0);
}

.home .self-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 140px 20px 20px 20px;
    /* vertical-align: center; */
    line-height: 50px;
    /* margin-top: 110px; */
}

.home .self-desc h3 {
    font-size: 23px;
    color: rgb(255, 255, 255);
}

.home .self-desc h1 {
    color: red;
    font-size: 75px;
}

.home img {
    width: 400px;
    height: 420px;
    border-radius: 10px;
}

:root {
    --angle: 45deg;
}

.rainbow {
    --border-size: 0.3rem;
    border: var(--border-size) solid transparent;

    /* Paint an image in the border */
    border-image: conic-gradient(
            from var(--angle),
            #ffffff 0deg 90deg,
            #3d3838 90deg 180deg,
            rgb(255, 255, 255) 180deg 270deg,
            #3d3838 270deg 360deg
        )
        1 stretch;
}

/* Animate when Houdini is available */
@supports (background: paint(houdini)) {
    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }

    .rainbow {
        animation: rotate 8s linear infinite;
    }
}

/* /////////////////////////////ABOUT////////////////////////////////////// */
.about {
    background-color: rgb(0, 0, 0);
    padding: 100px 55px;
    color: rgb(255, 255, 255);
}

.about h1 {
    text-align: center;
    font-size: 60px;
}

.about .abt {
    margin: 20px 10px;
    box-shadow: 2px 3px 5px rgb(255, 255, 255);
    padding: 20px;
}

.about .flex-abt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.about .abt_edu {
    margin: 0 10px;
    width: 450px;
}

.about .abt_skill {
    /* border: 2px solid red; */
    width: 450px;
}

.about .abt h2 {
    margin: 3px 0;
    font-size: 30px;
}

.about .abt p {
    font-size: 20px;
}

.about .abt .img {
    display: flex;
    flex-wrap: wrap;
}

.about .abt .img img {
    width: 55px;
    height: 55px;
    margin: 10px 23px 0 0;
}

/* /////////////////////////////SERVICES////////////////////////////////////// */
.services {
    background-color: rgb(0, 0, 0);
    padding: 55px;
    color: rgb(255, 255, 255);
}

.services h1 {
    text-align: center;
    font-size: 60px;
}

/* /////////////////////////////PORTFOLIO////////////////////////////////////// */
.portfolio {
    background-color: rgb(0, 0, 0);
    padding: 55px;
    color: rgb(255, 255, 255);
}

.portfolio h1 {
    text-align: center;
    font-size: 60px;
}

/* /////////////////////////////CONTACT////////////////////////////////////// */
.contact {
    background-color: rgb(0, 0, 0);
    padding: 55px;
    color: rgb(255, 255, 255);
}

.contact h1 {
    text-align: center;
    font-size: 60px;
}

.contact .contact_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.contact .contact_link {
    width: 450px;
    margin: 20px 10px;
}

.contact .contact_link h2 {
    font-size: 40px;
}

.contact .contact_link h4 {
    font-weight: normal;
    font-size: 1.13rem;
    margin: 20px 0;
}

.contact .contact_form {
    width: 450px;
    margin: 20px 10px;
}

.contact .det {
    display: flex;
    margin: 20px 0;
}

.contact .det img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

.contact .contact_link p {
    margin: 9px 0;
    font-size: 1.2rem;
}

.contact .contact_link .logo {
    margin: 20px 0px;
}

.contact .contact_link .logo img {
    width: 60px;
}

.contact .contact_form .form_info {
    display: flex;
    flex-direction: column;
}

.contact h2 {
    font-size: 35px;
    margin: 0 0 30px 0;
}

.contact .contact_form label {
    font-size: 18px;
}

.contact .contact_form .input {
    background-color: black;
    color: white;
    border: none;
    box-shadow: 0px 1px 1px white;
    margin: 5px 0 30px 0;
    font-size: 14px;
}

.contact .contact_form .input:focus {
    outline: none;
}

.contact .contact_form .btn {
    width: 100px;
    padding: 5px;
    background-color: green;
    color: white;
}

.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.footer div {
    padding: 25px 55px;
}

@media screen and (max-width: 1079px) {
    .home .self-desc {
        margin: 20px;
    }
}

@media screen and (max-width: 797px) {
    .navigation {
        display: block;
    }

    .hamburger-menu {
        width: 35px;
        height: 35px;
        background-color: transparent;
        position: fixed;
        top: 15px;
        right: 20px;
        border: none;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 300;
        transition: all 0.5s;
    }

    .change .hamburger-menu {
        /* background-color: rgba(247, 43, 206, 0.9); */
        background-color: rgb(95, 95, 239);
    }

    .line {
        width: 30px;
        height: 2px;
        background-color: #eee;
        margin: 2px 0;
        transform-origin: right;
        transition: all 0.5s;
    }

    .change .line-1 {
        transform: rotate(-40deg) translateY(-5px);
        background-color: #ffffff;
    }

    .change .line-2 {
        opacity: 0;
    }

    .change .line-3 {
        transform: rotate(40deg) translateY(5px);
        background-color: #ffffff;
    }

    .bg-cover {
        width: 25px;
        height: 25px;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 100;
        border-radius: 50%;
        transition: transform 0.5s;
    }

    .change .bg-cover {
        /* background-color: rgba(247, 43, 206, 0.9); */
        background-color: rgb(95, 95, 239, 0.9);
        transform: scale(18);
    }

    .nav-list {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        right: 80px;
        top: 10px;
        list-style: none;
        z-index: 200;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s;
    }

    .change .nav-list {
        opacity: 1;
        visibility: visible;
    }

    .nav-link {
        font-size: 1.5rem;
        text-decoration: none;
        color: #fff;
    }

    .head {
        padding: 10px 20px;
    }

    .change .head {
        height: 160px;
    }

    .head ul {
        display: none;
        /* flex-direction: column; */
        list-style: none;
        line-height: 40px;
        font-size: 21px;
    }

    .home {
        padding: 20px;
    }

    .home .self-desc {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px;
        vertical-align: center;
        /* margin-top: 110px; */
    }

    .home .self-desc h1 {
        font-size: 40px;
    }

    .home img {
        /* border: 5px solid yellow; */
        width: 400px;
        height: 400px;
        /* margin: 0 20px; */
        border-radius: 10px;
    }

    .about {
        background-color: rgb(0, 0, 0);
        padding: 20px;
    }

    .about h1 {
        font-size: 43px;
    }

    .contact {
        background-color: rgb(0, 0, 0);
        padding: 20px;
    }

    .contact h1 {
        font-size: 43px;
    }
}

@media screen and (max-width: 500px) {
    .head ul {
        display: none;
        list-style: none;
        line-height: 40px;
        font-size: 21px;
    }

    .home {
        padding: 20px;
    }

    .home .self-desc {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px;
        vertical-align: center;
    }

    .home .self-desc h1 {
        font-size: 40px;
    }

    .home img {
        /* border: 5px solid yellow; */
        width: 300px;
        height: 300px;
        /* margin: 0 20px; */
        border-radius: 10px;
    }

    .about {
        background-color: rgb(0, 0, 0);
        padding: 20px;
    }

    .about h1 {
        font-size: 33px;
    }

    .contact {
        padding: 20px;
    }

    .contact h1 {
        font-size: 33px;
    }

    .contact .contact_flex {
        margin-top: 0px;
    }

    .contact .contact_link {
        margin: 20px 10px 0 10px;
    }

    .contact .contact_link h2 {
        font-size: 27px;
        margin-bottom: 5px;
    }

    .contact .contact_link h4 {
        margin: 10px 0 20px 0;
    }

    .contact .det {
        margin: 10px 0;
    }

    .footer div {
        padding: 10px 55px;
    }
}
